<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IFileSystemService" />
                <binding name="NetTcpBinding_IFileStreamService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8000/rFS/FileSystemService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IFileSystemService"
                contract="_FileSystemService.IFileSystemService" name="NetTcpBinding_IFileSystemService">
                <identity>
                    <userPrincipalName value="PROD\iivchenk" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8000/rFS/FileStreamService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IFileStreamService"
                contract="_FileStreamService.IFileStreamService" name="NetTcpBinding_IFileStreamService">
                <identity>
                    <userPrincipalName value="PROD\iivchenk" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>