<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <system.serviceModel>
    
    <services>
      
      <service name="Sketch.FileSystem.FileSystemService" behaviorConfiguration="GeneralServiceBehavior" >
        
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8000/rFS/FileSystemService" />
          </baseAddresses>
        </host>

        <endpoint address="" binding="netTcpBinding" bindingConfiguration="FileSystemTCPBinding" contract="Sketch.FileSystem.IFileSystemService" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
      </service>

      <service name="Sketch.FileSystem.FileStreamService" behaviorConfiguration="GeneralServiceBehavior" >

        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8000/rFS/FileStreamService" />
          </baseAddresses>
        </host>

        <endpoint address="" binding="netTcpBinding" bindingConfiguration="FileStreamServiceTCPBinding" contract="Sketch.FileSystem.IFileStreamService" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
      </service>
    
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="GeneralServiceBehavior">
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceMetadata httpGetEnabled="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <netTcpBinding>
        <binding name="FileStreamServiceTCPBinding" maxReceivedMessageSize="15728640">
          <security mode="None"/>
        </binding>

        <binding name="FileSystemTCPBinding" maxReceivedMessageSize="1048576">
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
    
  </system.serviceModel>
  
</configuration>